body,form, div{ 
    font-size: 20px;
    font-family: monospace;
    background-color: cornflowerblue;
    position: fixed;
    left: 33%;
}
form{
    background-color: cornflowerblue;
    border-collapse: collapse;
    border: 2px solid black;
    position: fixed;  
    right: ;
}
#Titulo-formulario{
    color: red;
    margin-top: 10%;
    position: relative;
}