body{
    text-align: center;
    font-size: 25px;
    background-color: cornflowerblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p#Batman{
color:yellow;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
text-align:right; 
}
#Robin{
    color: red;
    font-family: monospace;
    text-align:left;
}
#Batmovil{
    color: darkorange;
    font-family: unset;
    text-align:center;
    vertical-align:text-bottom;
}
.textobatman{
    text-align: center;
    vertical-align:middle;
    word-spacing: 30px;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    letter-spacing: 8px;
}
img{
    vertical-align:text-top;
}
.span1{
    word-spacing:8px;
}
.span2{
    letter-spacing: 20px;
}
.negativo1{
    word-spacing:-8px;
}
.negativo2{
    letter-spacing: -20px;
}
.text1{
    text-decoration: underline;
}.text2{
    text-decoration: overline;
}
.text3{
    text-decoration:line-through;
    color: red;
}
.text4{
    text-transform: capitalize;
}
.text5{
    text-transform: uppercase ;
}
.text6{
    text-transform: lowercase ;
}
.text7{
    text-shadow: gray 10px 0;
    
}
.text8{
    text-shadow: black 6px 6px 8px;
}
#Joker{
    border-color: green;
    
}