li, ul{
    list-style: none;
    padding-left: 0%;
    text-align: center;
}
body{
    background-color:darkgrey;
}
.fixed-sidebar img{
    width: 90%;
    margin:5%;
}
.fixed-sidebar{
    
    width:5%;
    height:500px;
    border: black 2px solid;
    margin-right:2%;
    margin-top: 25%;
    margin-bottom:º 25%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.container {
    position: relative;
    width: 78%;
    height: 700px;
    margin-top: 3%;
    margin-right: 8%;
    background-color:lightgreen;
}
.container nav{

}
.nav-item{
    /*
    width: 50%;
    height: 50%;*/
    float: left;
    color: white;
    background-color:rgb(86, 86, 86);
    display: inline-block;
    font-size: large;
}
nav div{
    display: inline-block;
    font-size: 1.5rem;
    width: 20%;
    padding: 7px;
}
figure {
    border: 3px solid black;
    width:50px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    display:inline-block;

}


#li1{
    float:left;
    width: 10%;
    margin:5%;
}
#li2{
    float:left;
    width: 10%;
    margin:5%;
}
#li3{
    float:left;
    width: 10%;
    margin:5%;
}
#li4{
    float:left;
    width: 10%;
    margin:5%;
}

